name: CI
on:
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x
          cache: true

      - name: Run fmt
        run: deno fmt --check

      - name: Run lint
        run: deno lint

      - name: Run tests
        run: deno test

      - name: Build for deno
        run: deno publish --dry-run

      - name: Build for npm
        run: deno task build
